body{
	background-color: #f0efef;
}

#header {
margin: 5px;
padding: 60px;	 
background-color: black;  
border: black solid 1px;
}

#content{
margin: 5px;
padding: 250px;
background-color: grey;
border: black solid 1px;
}

#footer {
margin: 5px;
padding: 100px;
background-color: lightgray;
border: black solid 1px;
}
